<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css')}}">
    <title>Dashboard</title>
</head>
<body>
    <!-- NAVBAR START -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Budget<span class="your-blue-now">pal</span></a>
        <div class="collapse navbar-collapse" id="navContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
              </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">Links</a></li>
            <li class="nav-item"></li><a class="nav-link" href="/budgets">Edit Budgets</a></li>
          </ul>
        </div>
            <a class="btn btn-outline-light text-white my-2 my-sm-0" href="/logout" type="submit"><strong><span class="hover">Log</span><span style="color:red">out</span></strong></a>
          </form>
      </nav>
      <!-- NAVBAR END -->
      <div class="container-fluid mb-2 budget-contain">
          <div class="row">
                <div class="col-12 blue-background text-white justify-content-center">
                  <h2>Your Budgets</h2>
                </div>
          </div>
          <div class="row">
            <div class="container budgetslide-container mt-2">
              <div class="col-fluid bg-light border border-dark roundMe"> 
                <div id="indicator" class="carousel slide mt-2" data-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
  
                          {%for one_budget in first %}
                          <div class="card card-heading bg-dark text-center mb-3">
                            <h2><a href="show/{{one_budget['id']}}"class="budget-link" class="budget-link">{{one_budget['budget_name']}}</a></h2>
                          </div>
                          <div class="card-body bg-light text-dark text-center">
                            <h1>${{one_budget['adj_balance']}}</h1>
                            <h3>remaining</h3>
                            <h6><a href="show/{{one_budget['id']}}"class="budget-link">click for additional details</a></h6>
                          </div>
                          <div class="card-footer text-center d-flex justify-content-center align-items-center flex-column">
                            <h3>log expense:</h3>
                            <div>
                              <form class="form-inline" action="/update_budget" method="post">
                                  <label for="amount">$ </label>
                                   <input class="form-control mr-sm-2 form-inline" type="text" name="amount" placeholder="payment amount">
                                  <input class="form-inline" type="hidden" name="budget_id" value="{{one_budget['id']}}">
                                   <button class="btn btn-primary form-inline" type="submit">Log</button>
                               </form>
                            </div>
                        {% with messages = get_flashed_messages() %}  
                        {% if messages %}   
                        {% for message in messages %}
                        <p class="text-danger">{{message}}</p>       
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                          </div>
                          {% endfor%}
                      </div>
                          {%for one_budget in budgets%}
                          <div class="carousel-item">
                          <div class="card card-heading bg-dark text-light text-center mb-3">
                            <h3><a href="show/{{one_budget['id']}}">{{one_budget['budget_name']}}</a></h3>
                          </div>
                          <div class="card-body bg-light text-dark text-center">
                            <h1>${{one_budget['adj_balance']}}</h1>
                            <h3>remaining</h3>
                          </div>
                          <div class="card-footer text-center d-flex justify-content-center align-items-center flex-column">
                            <h3>log expense:</h3>
                              <div>
                                  <form class="form-inline" action="/update_budget" method="post">
                                      <label for="amount">$ </label>
                                       <input class="form-control mr-sm-2 align-self-center " type="text" name="amount" placeholder="payment amount">
                                      <input class=" align-self-center" type="hidden" name="budget_id" value="{{one_budget['id']}}">
                                       <button class="btn btn-primary align-self-center " type="submit">Log</button>
                                   </form>
                              </div>
                        {% with messages = get_flashed_messages() %}  
                        {% if messages %}   
                        {% for message in messages %}
                        <p class="text-danger">{{message}}</p>       
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                          </div>
                      </div>
                          {% endfor%}
                      
                  </div>
                  <a class="carousel-control-prev" href="#indicator" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon carouselStyle" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#indicator" role="button" data-slide="next">
                      <span class="carousel-control-next-icon carouselStyle" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                  </a>
              </div>
            </div>
            

            </div>
            
        </div>
        
        </div>
        <footer class="page-footer">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="https://github.com/KNJour/budgetpal">See the Code</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Eat a banana</a></li>
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="keithjournell.com">A project by Keith Journell</a>
            </li>
          </ul>
        </div>
      <script src="{{ url_for('static', filename='scripts/script.js')}}"></script>
</body>
</html>